/* #622da5 */

.dashboard {
  padding: 1rem 2rem;
}

.dashboard__grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 30px;
}

.dashboard__current {
  text-align: center;
  padding: 1rem 0 3rem;
}

.dashboard__counter {
  font-size: 64px;
  font-weight: 900;
}